<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin Page</title>
</head>
<body>
<h3 th:inline="text">You have been logged as [[${#httpServletRequest.remoteUser}]]!</h3>

<div th:if="not ${addGroupSuccess} or not ${addUserSuccess} or not ${addTaskSuccess}">
    <form th:action="@{/new-group}" method="post">
        <input type="text" name="groupNumber" placeholder="groupNumber">
        <input type="text" name="shortDescription" placeholder="shortDescription">
        <input type="submit" value="Create group"/>
    </form>

    <form th:action="@{/new-user}" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <select id="group" name="groupId">
            <option th:each="group : ${listGroups}" th:value="${group.groupId}" th:text="${group.groupNum}"></option>
        </select>
        <input type="submit" value="Create student"/>
    </form>

    <form th:action="@{/new-task}" method="post">
        <input type="text" name="taskName" placeholder="taskName">
        <textarea type="text" name="taskDescription" placeholder="taskDescription"></textarea>
        <textarea name="taskInputValues" placeholder="taskInputValues"></textarea>
        <textarea name="taskOutputValues" placeholder="taskOutputValues"> </textarea>
        <input type="submit" value="Create task"/>
    </form>

    <h2> Groups List </h2>

    <div class="group-list">
        <table>
            <tr th:each="group: ${listGroups}">
                <td th:text="${group.groupId}" />
                <td th:text="${group.groupNum}" />
                <td th:text="${group.groupDescription}" />
            </tr>
        </table>
    </div>

    <h2> Students List </h2>

    <div class="student-list">
        <table>
            <tr th:each="userEntity: ${listUsers}">
                <td th:text="${userEntity.id}" />
                <td th:text="${userEntity.username}" />
                <td th:text="${userEntity.password}" />
            </tr>
        </table>
    </div>

    <h2> Tasks List </h2>

    <div class="student-list">
        <table>
            <tr th:each="task: ${listTasks}">
                <td th:text="${task.taskId}" />
                <td th:text="${task.name}" />
                <td th:text="${task.description}" />
                <td th:text="${task.input}" />
                <td th:text="${task.output}" />
            </tr>
        </table>
    </div>

</div>

<div th:if="${addGroupSuccess}">
    <p><span th:text="${addGroupSuccess}"></span></p>
    <a th:href="@{/admin-page}"> Go back to admin page </a>
</div>

<div th:if="${addUserSuccess}">
    <p><span th:text="${addUserSuccess}"></span></p>
    <p>Name : <span th:text="${username}"></span></p>
    <p>Password : <span th:text="${password}"></span></p>
    <p>Group : <span th:text="${group}"></span></p>

    <a th:href="@{/admin-page}"> Go back to admin page </a>
</div>
<div th:if="${addTaskSuccess}">
    <p><span th:text="${addTaskSuccess}"></span></p>
    <a th:href="@{/admin-page}"> Go back to admin page </a>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>