<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en-ru">
<head>
    <title>[[${#httpServletRequest.remoteUser}]] page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div th:insert="~{header :: nav}"></div>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" width="150px">
                        <h5 class="my-3">[[${#httpServletRequest.remoteUser}]]</h5>
                        <p class="text-muted mb-1" th:text="${user.group.groupNum}"></p>
                        <p class="text-muted mb-4">Beginner</p>

                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-outline-primary ms-1"
                                    data-bs-toggle="modal" data-bs-target="#changeProfile">Edit profile</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-start align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0"><b>Tasks : </b></p>
                            </li>
                            <li th:if="${notPassedTasks}" th:each="task: ${notPassedTasks}" class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0" th:text="${task.task.name}" ></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"> You have <span th:text="${countOfTasks}"></span> tasks!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:if="${user.firstName}" th:text="${user.firstName}"> </p>
                                <p class="text-muted mb-0" th:unless="${user.firstName}"> Not set </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:if="${user.firstName}" th:text="${user.lastName}"> </p>
                                <p class="text-muted mb-0" th:unless="${user.firstName}"> Not set </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Middle Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:if="${user.middleName}" th:text="${user.middleName}"> </p>
                                <p class="text-muted mb-0" th:unless="${user.middleName}"> Not set </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">E-mail</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:if="${user.email}" th:text="${user.email}"> </p>
                                <p class="text-muted mb-0" th:unless="${user.email}"> Not set </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:if="${passedTasks}" class="col-md-6">
                        <div th:each="task : ${passedTasks}" class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <div class="mb-4">Mark : <span class="text-primary font-italic me-1" th:text="${task.mark}"></span> </div>
                                <p class="mb-1" th:text="${task.task.name}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="changeProfile" tabindex="-1" aria-labelledby="changeProfileLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="changeProfileLabel">Change profile information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/edit-profile}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label" for="password">New Password</label>
                            <input type="text" name="password" class="form-control" id="password" placeholder="password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password-repeat">Repeat Password</label>
                            <input type="text" name="password-repeat" class="form-control" id="password-repeat" placeholder="repeat-password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ivan">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ivanov">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="middleName">Middle Name</label>
                            <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Ivanovich">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="ivanov@gmail.com">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
</body>
</html>