<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Task </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:insert="~{header :: nav}"></div>

<section style="background-color: #eee;">
    <div class="container py-3">
        <div class="row">
            <p class="fs-4">Task name : <span th:text="${task.name}"></span> </p>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <form th:action="@{/send-answer(taskId=${task.taskId})} " method="post" class="row gy-2 gx-3 align-items-center">
            <div class="row">
                <div class="col-6">
                    <p class="fs-6" th:text="${task.description}"></p>
                    <p class="fs-6 pt-3" th:text="${task.input}"></p>
                </div>
                <div class="col-6">
                    <label for="answer-code" class="form-label">Your code here</label>
                    <textarea class="form-control" name="answerCode" id="answer-code" rows="10"></textarea>
                    <label for="answer-code" class="form-label mt-2">Your Input</label>
                    <textarea class="form-control" name="input" id="input" rows="4"></textarea>
                    <select name="language" class="form-select mt-3" aria-label="Choose language">
                        <option selected value="cpp"> C ++ </option>
                        <option value="py"> Python </option>
                        <option value="java"> Java </option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="alert alert-light" role="alert">
                    Be careful! The number of attempts affects the score.
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Check answer</button>
                </div>
                <div th:if="${resultStatus}" class="alert alert-danger mt-4" role="alert">
                    <p th:text="${resultStatus}"> </p>
                </div>
            </div>
        </form>
    </div>
</section>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <p class="fs-4">Examples and formats</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">What you need to output?</th>
                <th scope="col">Input format</th>
                <th scope="col">Attention</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr>
                <th scope="row">Integer Massive</th>
                <td>1,2,3,4,5</td>
                <td>Without spaces!</td>
            </tr>
            <tr>
                <th scope="row">Float Massive</th>
                <td>1.2223,2.4234,3.1020,4.234,5.0</td>
                <td>Without spaces!</td>
            </tr>
            <tr>
                <th scope="row">Char Massive</th>
                <td>'a','b','c','d'</td>
                <td>Without spaces!</td>
            </tr>
            <tr>
                <th scope="row"> String Massive </th>
                <td> "Aa","Bb","Cc","Dd" </td>
                <td> Without spaces! </td>
            </tr>
            <tr>
                <th scope="row"> Integer number </th>
                <td> 12345 </td>
                <td>  </td>
            </tr>
            <tr>
                <th scope="row"> Float number </th>
                <td> 12.2345 </td>
                <td> Point! </td>
            </tr>
            <tr>
                <th scope="row"> Char </th>
                <td> 'a' </td>
                <td> </td>
            </tr>
            <tr>
                <th scope="row"> String </th>
                <td> "Abcd" </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>