<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Group Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Moodle Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/groups}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Tasks</a>
                </li>
            </ul>
            <span class="navbar-text">
                <p th:inline="text">You have been logged as [[${#httpServletRequest.remoteUser}]]!</p>
            </span>
        </div>
    </div>
</nav>

<div class="container">
    <h2 th:text="${task.name}"/>
    <p th:text="${task.description}">
    <p th:text="${task.input}" />
    <p th:text="${task.output}" />

    <div class="row">
        <div class="col-6">
            <p class="fs-4">Send task to group</p>
            <div class="form">
                <form th:action="@{/send-task-to-group}" method="post" class="row gy-2 gx-3 align-items-center">
                    <select class="form-select" id="autoSizingSelect" name="groupId">
                        <option th:each="group : ${listGroups}" th:value="${group.groupId}" th:text="${group.groupNum}"></option>
                    </select>
                    <input type="submit" value="Send to Group"/>
                </form>
            </div>
            <p class="fs-4">Send task to user</p>
            <div class="form">
                <form th:action="@{/generate-massive}" method="post" class="row gy-2 gx-3 align-items-center">
                    <input type="number" name="countOfElements" placeholder="Count of elements">
                    <input type="submit" value="Generate massive"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>