<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Group Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:insert="~{header :: nav}"></div>

<div class="container">
    <h2 th:text="${task.name}"/>
    <p th:text="${task.description}">
    <p th:text="${task.input}" />
    <p th:text="${task.output}" />

    <div class="row">
        <div class="col-6">
            <p class="fs-4">Send task to group</p>
            <div class="form">
                <form th:action="@{/send-task-to-group(taskId=${task.taskId})}" method="post" class="row gy-2 gx-3 align-items-center">
                    <select class="form-select" id="autoSizingSelect" name="groupId">
                        <option th:each="group : ${listGroups}" th:value="${group.groupId}" th:text="${group.groupNum}"></option>
                    </select>
                    <input type="submit" value="Send to Group"/>
                </form>
            </div>
            <p class="fs-4">Send task to user</p>
            <div class="form">
                <form th:action="@{/generate-massive}" method="post" class="row gy-2 gx-3 align-items-center">
                    <input type="number" name="countOfElements" placeholder="Count of elements">
                    <input type="submit" value="Generate massive"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>